@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out;
  will-change: opacity, visibility;
}


.fade-in-left {
  opacity: 0;
  transform: translateX(-200px);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(200px);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-down {
  opacity: 0;
  transform: translateY(-200px);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(200px);
  visibility: hidden;
  transition: opacity 0.5s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in.is-visible,
.fade-in-left.is-visible,
.fade-in-right.is-visible,
.fade-in-up.is-visible,
.fade-in-down.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex;
}

button {
  background-color: #3F7C88;
  color: white;
  font-size: 1rem;
  padding: 0.571rem 1.142rem;
  border-radius: 0.571rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.image-container {
  width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
